{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center mt-4">
        <div class="auth-card d-flex flex-column gap-2">
            <h1 class="h3 mb-3 font-weight-normal">User info</h1>
            <div>
                <label>Email:</label>
                <strong>{{ app.user.email }}</strong>
            </div>
            {% set roles = app.user.roles %}
            <div>
                <label>Role:</label>
                {% if 'ROLE_ADMIN' in roles %}
                    <strong>admin</strong>
                {% elseif 'ROLE_USER' in roles %}
                    <strong>user</strong>
                {% else %}
                    <strong>unknown</strong>
                {% endif %}
            </div>

            <div class="d-flex justify-content-center gap-2 mt-2">
                <a href="{{ path('app_home') }}" class="btn btn-primary"> << Back</a>
                <button
                    class="btn btn-success"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#editProfileCollapse"
                >
                    Edit profile
                </button>
                <button
                    class="btn btn-warning"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#changePasswordCollapse"
                >
                    Change password
                </button>
            </div>

            <div class="collapse" id="editProfileCollapse">
                <div class="card card-body mb-3">

                    TUTAJ PÓŹNIEJ DODAMY FORMULARZ ZMIANY EMAILA

                </div>
            </div>

            <div class="collapse" id="changePasswordCollapse">
                <div class="card card-body">

                    TUTAJ PÓŹNIEJ DODAMY FORMULARZ ZMIANY HASŁA

                </div>
            </div>
        </div>
    </div>
{% endblock %}
