{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1 class="d-flex flex-row justify-content-center align-items-center">Create new Event</h1>
    <div class="border border-light rounded p-2 w-50 mx-auto">
        {{ include('event/_form.html.twig', {
            show_delete: false
        }) }}
    </div>
{% endblock %}
