{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center mt-3">
    <div class="auth-card d-flex flex-column gap-1" style="max-width: 600px;">
        <div class="h3 mb-2 font-weight-normal">Admin panel</div>

        <div class="d-flex justify-content-center gap-2 mt-2 mb-2">
            <a href="{{ path('app_home') }}" class="btn btn-primary"><< Back</a>
            <a href="{{ path('app_admin_users') }}" class="btn btn-primary">Manage users</a>
            <a href="{{ path('app_admin_requests') }}" class="btn btn-primary">Manage requests</a>
            <a href="{{ path('app_admin_categories') }}" class="btn btn-primary">Manage categories</a>
        </div>
    </div>
</div>
{% endblock %}
